[user]
  name = Sasaya
  email = storyn26383@gmail.com
[core]
  excludesfile = /Users/Sasaya/.gitignore_global
  ignorecase = false
[mergetool]
  keepBackup = false
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool "vimdiff"]
  path = nvim
[mergetool "vimdiff"]
  cmd = "nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
