# powerline
run-shell "powerline-daemon -q"
source "$POWERLINE_PATH/bindings/tmux/powerline.conf"
set -g status-interval 1
set -g status-position top
set -qg status-left "#[fg=colour233]#[bg=colour231] • • • #S #[fg=colour231]#[bg=colour233] #(env $POWERLINE_COMMAND $POWERLINE_COMMAND_ARGS tmux left --width=`tmux display -p '#''{client_width}'` -R width_adjust=`tmux show-options -g status-right-length | cut -d' ' -f2` -R pane_id=\"`tmux display -p '#''D'`\")"

# disable auto rename
set -g allow-rename off

# disable mouse
set -g mouse off

# better for vim
set-option -sg escape-time 10
set-option -g focus-events on
set-option -sa terminal-features ',xterm-256color:RGB'

######################
#### Key Bindings ####
######################

# reload config file
bind r source-file ~/.tmux.conf \; display "Config Reloaded!"

# switch panel without zoom out
# bind C-o rotate-window \; resize-pane -Z

# pane movement shortcuts
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Resize pane shortcuts
bind -r C-h resize-pane -L
bind -r C-j resize-pane -D
bind -r C-k resize-pane -U
bind -r C-l resize-pane -R

# set vi mode
setw -g mode-keys vi

# more settings to make copy-mode more vim-like
unbind-key -T copy-mode-vi Space; bind-key -T copy-mode-vi v   send-keys -X begin-selection
unbind-key -T copy-mode-vi Enter; bind-key -T copy-mode-vi y   send-keys -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"
unbind-key -T copy-mode-vi C-v  ; bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
unbind-key -T copy-mode-vi [    ; bind-key -T copy-mode-vi [   send-keys -X begin-selection
unbind-key -T copy-mode-vi ]    ; bind-key -T copy-mode-vi ]   send-keys -X copy-pipe-and-cancel "reattach-to-user-namespace pbcopy"

# paste from system clipboard
bind ] run "reattach-to-user-namespace pbpaste | tmux load-buffer - && tmux paste-buffer"
