{
  "segments": {
    "right": [
      {
        "function": "powerline.segments.common.sys.uptime",
        "before": "⇑ ",
        "priority": 50
      },
      {
        "function": "powerline.segments.common.sys.system_load",
        "after": "",
        "priority": 50
      },
      {
        "function": "powerline.segments.common.time.date"
      },
      {
        "function": "powerline.segments.common.time.date",
        "name": "time",
        "before": "",
        "args": {
          "format": "%H:%M:%S",
          "istime": true
        }
      },
      {
        "type": "string",
        {{ if eq .chezmoi.hostname "Raspberry-Pi" -}}
        "contents": "ʕ•ᴥ•ʔ",
        {{ else -}}
        "contents": "｡゜(｀Д´)゜｡",
        {{ end -}}
        "name": "hostname"
      }
    ]
  }
}
